<div class="container my-5">
  <div class="row justify-content-md-center">
    <div class="col-md-auto col-12 mx-auto">
      <div class="dropdown my-5">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton2"
          data-bs-toggle="dropdown" aria-expanded="false" style="width:600px;">
          類別
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="/sort/household">家居物業</a></li>
          <li><a class="dropdown-item" href="/sort/transportation">交通出行</a></li>
          <li><a class="dropdown-item" href="/sort/entertainment">休閒娛樂</a></li>
          <li><a class="dropdown-item" href="/sort/food">餐飲食品</a></li>
          <li><a class="dropdown-item" href="/sort/other">其他</a></li>
        </ul>
      </div>
      <h2 class="total-amount mb-4 text-center">總金額：<span class="badge bg-secondary text-light">25260</span></h2>
      <div class="expense-detail d-flex justify-content-between align-items-center bg-light p-3 rounded mb-3">
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-house"></i>
          <div class="content mx-3">
            <div class="name fs-3 fw-bold">午餐</div>
            <div class="date fs-6">2019.04.23</div>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="amount text-warning fs-4 mx-3">60</div>
          <a href="/expense/edit" class="btn btn-warning mx-2">修改</a>
          <a href="/expense/delete" class="btn btn-danger mx-2">刪除</a>
        </div>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto my-5">
        <a class="btn btn-outline-info" href="/expenses/new" role="button">新增支出</a>
      </div>
    </div>
  </div>
</div>
